* {
  margin: 0%;
}
.work-wrap {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 220px;
  text-align: center;
  padding-top: 150px;
  margin: auto;
  border: black;
  margin-left: 10%;
  flex-wrap: wrap;
}

h5.title {
  margin-bottom: 20px;
  text-align: left;
  font: 18px/18px robotobold;
  color: #464646;
  width: 100%;
}

.work-item {
  display: inline-block;
  width: 24%;
  padding: 90px 8px;
  text-align: left;
  margin: auto;
  flex-wrap: wrap;
  font-size: medium;
}
.Lorem {
  display: inline-block;
  width: 70%;
  font-size: large;
  text-align: left;
  margin: auto;
  flex-wrap: wrap;
  font-size: medium;
}
:hover.work-item {
}

fa-solid fa-chart-line {
  padding-bottom: 10%;
}
